@page
@model ScannerWeb.Pages.IndexModel
<h1 class="mainpage">Witaj na stronie głównej skanerów</h1>

<br>
<br>
<div id="containerS">
    <div class="row">
        @foreach (var scanner in Model.Odczyt.Select(x => x.IdSkaneraNavigation.IdSkanera).Distinct())
        {
            <div class="scannerCard col btn-primary">

                <div class="skanerId">
                    Skaner o ID: @scanner
                </div>

                <ul class="listMainpage">
                    @{
                        var lastIndex = Model.Odczyt
                       .Where(x => x.IdSkaneraNavigation.IdSkanera == scanner)
                       .LastOrDefault();
                    }

                    <li>
                        @{
                            var Bud = Model.Budynki
                            .Where(x => x.IdSkanera == scanner)
                            .LastOrDefault();
                        }
                        Budynek: @Html.DisplayFor(modelItem => Bud.Nazwa)
                    </li>
                    <li>
                        Data: @Html.DisplayFor(modelItem => lastIndex.DataDisplay)

                    </li>
                    <li>
                        Czas: @Html.DisplayFor(modelItem => lastIndex.CzasDisplay)
                    </li>
                    <li>
                        Typ autoryzacji: @Html.DisplayFor(modelItem => lastIndex.TypAutoryzacji)
                    </li>
                    <li>
                        Imię i nazwisko: @Html.DisplayFor(modelItem => lastIndex.IdOsobyNavigation.Imie)
                        @Html.DisplayFor(modelItem => lastIndex.IdOsobyNavigation.Nazwisko)
                    </li>
                    
                </ul>

            </div>

        
        
        }
    </div>
</div>

